*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    text-decoration: none;
}

body{
    height: 90vh;
    background: rgb(138,43,226);
    background: linear-gradient(90deg, rgba(138,43,226,1) 0%, rgba(148,0,211,1) 25%, rgba(153,50,204,1) 82%);
    

}

.login{
    width: 280px;
    height: 370px;
    background: #ADD8E6;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 40px 25px;
    border-radius: 10px;
}

.login p{
    margin-bottom: 10px;
    color: #8A2BE2;
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    background-color: #8A2BE2;
    border: 6px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login input{
    width: 100%;
    margin-bottom: 18px;
    border-radius: 4px;
    transition: .5s ease;
}

.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
    height: 20px;
    font-size: 16px;
}

form .log:hover{
    background-color: #E6E6FA;
}


.btn{
    border: none;
    outline: none;
    height: 30px;
    color: #fff;
    background: #8A2BE2;
    font-size: 17px;
    cursor: pointer;
    border-radius: 20px;
}

.btn:hover{
    background: #fff;
    color: #8A2BE2;
}

.login a{
    color: #8A2BE2;
    font-size: 14px;
    line-height: 18px;
}

.login a:hover{
    color: #fff;
}

